* {
  @include box-sizing( border-box );
}

body {
  font-family: $ostrich-rounded;
  font-size: $font-size-primary;
  background: black;
  color: $color-2;
}


/*
*= Typography
*/

a {
  @include transition( all 150ms linear );
  text-decoration: none;
  color: $color-primary;
  &:visited {
    font-weight: bold;
    text-decoration: none;
    color: $color-primary;
  }
  &:hover, &:focus {
    color: $color-primary;
  }
}

h1, h2, h3 {
  color: $color-secondary;
}

h1 {
  font-family: $ostrich-dashed;
  font-size: 10em;
  margin: 0;
  &.large {
    font-size: 23em;
    letter-spacing: 0.27em;
    margin-left: 0.05em;
    margin-right: -0.27em;
    margin-bottom: -0.2em;
  }
  &.medium {
    font-family: $ostrich-light;
    font-size: 10em;
  }
}

p {
  line-height: 1.5em;
}

em {
  font-family: $ostrich-italic;
}

strong {
  font-family: $ostrich-black;
  font-weight: normal;
}
/*
*= Elements
*/

section {
  background: black;
  background: $color-3;
  min-height: 50px;
}

.container {
  margin: 0 auto;
  width: $width-primary;
  padding: 20px 0;
  text-align: center;
}

.container-video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-name {
  padding: 0;
  margin: 100px auto;
  position: relative;
  &:before, &:after {
    content: '';
    height: 2px;
    background: $color-secondary;    
    position: absolute;
    bottom: $size-icon/2;
    left: 0;
    width: ($width-primary / 2) - $size-icon - 3*$margin-icon;
  }
  &:after {
    right: 0;
    left: auto;
  }
}

.container-nouns {
  padding: 150px 0;
}

.list-nouns {
  list-style-type: none;
  font-size: 2em;
  margin: 0;
  padding: 0;
  li {
    display: block;
    text-align: center;
    margin: 30px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  span {
    padding: 15px 10px 8px;
    vertical-align: middle;
    // background: $color-faded;
  }
}


/*
*= VIDEO
*/


video {
  width: 100%;
}

/*
*= ICONS
*/

.icons {
  font-size: $font-size-small;
  margin-top: 50px;
  a {
    display: inline-block;
    margin-right: $margin-icon;
    &:last-child {
      margin-right: 0;
    }
  }
  .icon {
    @include border-radius( 50% );
    @include transition( all 150ms ease );
    vertical-align: middle;
    text-align: center;
    font-size: $size-icon/2;
    line-height: $size-icon;
    width: $size-icon;
    height: $size-icon;
    color: $color-4;
    border: 2px solid $color-4;
    &:hover, &:focus {
      border-color: $color-primary;
      color: $color-primary;
    }
  }
}

/*
*= QUOTE
*/

blockquote {
  font-size: 2em;
}

/*
*= CIRCLE
*/

$size-circle: 240px;

.section-circle {
  background: $color-2;
  padding: 10px 0 60px;
  position: relative;
  min-height: $size-circle + 150px;

  .container {
    position: absolute;
    height: $size-circle; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -($size-circle)/2;
    margin-left: -($size-circle)/2;
  }
}

.circle {
  @include border-radius(50%);
  @include rotate(-10deg);
  @include transition( all 400ms ease );
  width: $size-circle;
  height: $size-circle;
  vertical-align: middle;
  display: table-cell;
  background: $color-primary;
  color: $color-3;
  span {
    display: block;
    text-align: center;
    &:first-child {
      font-family: $ostrich-italic;
      font-style: italic;
      font-size: 4em;
      margin-left: -0.15em;
    }
    &:last-child {
      font-family: $ostrich-black;
      font-size: 2em;
    }
  }
  &:hover {
    @include rotate(360deg);
  }
}

