/* Ostrich Sans */

@font-face {
  font-family: 'Ostrich Sans Black';
  src: url('fonts/ostrich-black.eot');
  src: local('☺'), url('fonts/ostrich-black.woff') format('woff'), url('fonts/ostrich-black.ttf') format('truetype'), url('fonts/ostrich-black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans Bold';
  src: url('fonts/ostrich-bold.eot');
  src: local('☺'), url('fonts/ostrich-bold.woff') format('woff'), url('fonts/ostrich-bold.ttf') format('truetype'), url('fonts/ostrich-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans';
  src: url('fonts/ostrich-regular.eot');
  src: local('☺'), url('fonts/ostrich-regular.woff') format('woff'), url('fonts/ostrich-regular.ttf') format('truetype'), url('fonts/ostrich-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans Light';
  src: url('fonts/ostrich-light.eot');
  src: local('☺'), url('fonts/ostrich-light.woff') format('woff'), url('fonts/ostrich-light.ttf') format('truetype'), url('fonts/ostrich-light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* Ostrich Sans Dashed */

@font-face {
  font-family: 'Ostrich Sans Dashed';
  src: url('fonts/ostrich-dashed.eot');
  src: local('☺'), url('fonts/ostrich-dashed.woff') format('woff'), url('fonts/ostrich-dashed.ttf') format('truetype'), url('fonts/ostrich-dashed.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

/* Ostrich Sans Rounded */

@font-face {
  font-family: 'Ostrich Sans Rounded';
  src: url('fonts/ostrich-rounded.eot');
  src: local('☺'), url('fonts/ostrich-rounded.woff') format('woff'), url('fonts/ostrich-rounded.ttf') format('truetype'), url('fonts/ostrich-rounded.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

/* Ostrich Sans Inline */

@font-face {
  font-family: 'Ostrich Sans Inline';
  src: url('fonts/ostrich-inline-regular.eot');
  src: local('☺'), url('fonts/ostrich-inline-regular.woff') format('woff'), url('fonts/ostrich-inline-regular.ttf') format('truetype'), url('fonts/ostrich-inline-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans Inline';
  src: url('fonts/ostrich-inline-italic.eot');
  src: local('☺'), url('fonts/ostrich-inline-italic.woff') format('woff'), url('fonts/ostrich-inline-italic.ttf') format('truetype'), url('fonts/ostrich-inline-italic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}