
<div class="container-video">
  <!-- autoplay="autoplay" -->
  <video loop="" muted="muted" preload="auto">
    <source src="https://mtc.cdn.vine.co/r/videos/0B59A82C271032148996401303552_14fae0e35d2.4.6.2380158491759996656_nfB6hXphzfMfTKLu0qwBIFUI678aqpzbrg8Tcz6PslLRXIZx8G.O6b.MH8SKh4NF.mp4?versionId=raidhxDqnk09zNWprNedzC337XncXRZd" type="video/mp4">
    </video>

</div>

<div class="container container-name">
  <h1 class="large">Kim</h1>
  <h1 class="medium">Cooperrider</h1>
</div>

<!-- 

<div class="main">
  <div class="container">
    <p id="content">I like making cool things with great people. I do primarily front-end web programming, although I like RoR and mobile too. I'm currently working at Zoe Rooney Web Development and finishing my BS in computer science at the University of Pittsburgh. Other things I enjoy: traveling, running, Battlestar marathons, my friends, speaking French, volunteering at tech conferences, green smoothies, pretending I can speak more than five words in  Spanish, and spending time in Northern Wisconsin.</p>
  </div>
</div> -->



<div class="container container-footer">

  <footer>
    <a href="" ng-click="invert()">
      <i class="icon fa fa-bolt"></i>
    </a>
    <a href="http://www.linkedin.com/in/kimcooperrider">
      <i class="icon fa fa-linkedin"></i>
    </a>
    <a href="mailto:kim.cooperrider@gmail.com">
      <i class="icon fa fa-envelope"></i>
    </a>
  </footer>

</div>