<div class="parent" ng-class="{ inverted : isInverted }">


  <header>
    <div class="container">
      <h1 class="intro">Hi, I'm Kim</h1>
    </div>
  </header>



  <div class="main">
    <div class="container">
      <p id="content">I like making cool things with great people. I do primarily front-end web programming, although I like RoR and mobile too. I'm currently working at Zoe Rooney Web Development and finishing my BS in computer science at the University of Pittsburgh. Other things I enjoy: traveling, running, Battlestar marathons, my friends, speaking French, volunteering at tech conferences, green smoothies, pretending I can speak more than five words in  Spanish, and spending time in Northern Wisconsin.</p>
    </div>
  </div>



  <div class="container">
    <footer class="pull-right">
      <a href="" ng-click="invert()">
        <i class="icon fa fa-bolt"></i>
      </a>
      <a href="http://www.linkedin.com/in/kimcooperrider">
        <i class="icon fa fa-linkedin"></i>
      </a>
      <a href="mailto:kim.cooperrider@gmail.com">
        <i class="icon fa fa-envelope"></i>
      </a>
    </footer>
  </div>


</div>